html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
  margin: 20px;
}

div .btn {
  background-color: #333;
  color: #fff;
  text-decoration: none;
  padding: .75em;
  border-radius: 8px;

}

div .btn-subtle {
  background-color: #ccc;
  }

div .btn-ghost {
  background-color: #fff;
  border: 3px solid #000;
  color: #000;
}

div .btn-warning {
  background-color: #f33;
}

div .btn-small {
  font-size: .875rem;
}

div .btn-small {
  font-size: .875rem;
}

div .btn-big {
  font-size: 1.5rem;
}
