html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
  margin: 1rem;
}

div .btn {
  background-color: #333;
  color: #fff;
  text-decoration: none;
  padding: 0.75em;
  border-radius: 8px;
}

div .btn-subtle {
  background-color: #ccc;
  }

div .btn-ghost {
  background-color: #fff;
  border: solid #000 3px;
  color: #000;
}
